{% extends "blog/base.html" %}
{% block content %}

<h1 class="mt-4 mb-5">Contact Me</h1>

    <div class="row">
        <div class="col-md-10">
            <p>Please feel free to reach out if you have a position that would benefit from my skill set.  Teaching myself how to program has and continues to be an incredible experience, and the opportunity to do this in a professional environment is something I am actively pursuing. </p>
        </div>
    </div>

    <div class="row">
       <div class="col-md-10">
            <p>If you are looking for entry-level software engineer, I believe it will be very difficult to find someone more hardworking than myself.</p>
        </div>
   </div>

    <div class="row">
        <div class="col-md-6">
    <img src="../media/contact-photo/noah.png" alt="" width="250" height="250" style="padding: 10px">
        </div>
        <div class="col-md-6 mb-4 mt-4">
            <ul class="contact-list">
                <li>Noah Hodge</li>
                <li>noahhodge2@gmail.com</li>
                <li>512-944-0786</li>
                <li><a href="https://www.linkedin.com/in/noah-hodge-577286153/">https://www.linkedin.com/in/noah-hodge-577286153/</a></li>
            </ul>
        </div>
</div>


{% endblock content%}
