{% extends "blog/base.html" %}
{% block content %}
    <h1 class="mb-2">Stockify Application</h1>
    <div class="pd-2 about-content">
    <p>This application was made using the Django Framework.  Here you are able to create a profile, login, contribute your thoughts on the stock market, delete old content, and more!</p>
    <p class="mb-4">I hope you take a moment to explore all the functionality, and thank you for taking the time to look around.</p>
    <p>This is a work in progress and is in the early stages of production. New features will be periodically added.</p>
    </div>
{% endblock content%}
