{% extends "blog/base_security.html" %}
{% block content %}

    <div class="output-graph">
    {%if sec_graph == "" or sec_graph == None %}

        <h1 class="pb-2 text-center">Search By Ticker</h1>

    {% else %}
        <h3 class="pb-2 pd-4 text-center">{{ sec_title }}</h3>
        <ul class="list-group pd-4">
            <a href="#info" data-toggle="collapse"><li class="list-group-item">The Company</a>
                <div id="info" class="collapse">
                    <p class="pt-2">
                        {{ sec_descript }}
                    </p>
                </div>
            </li>
            <a href="#fact" data-toggle="collapse"><li class="list-group-item">Finances</a>
            <div id="fact" class="collapse pt-4">
                    <h5>Market Value</h5>
                    <p> {{ sec_market_cap }} </p>
                    <h5>PEG Ratio</h5>
                    <p> {{ sec_price_to_earnings }}</p>
                    <h5>Profit Margin</h5>
                    <p> {{ sec_profit_margins }}</p>
                    <h5>Isin</h5>
                    <p>{{ sec_isin }} </p>
              </div>
              </li>
            <a href="#sec" data-toggle="collapse"><li class="list-group-item">Info</a>
                <div id="sec" class="collapse">

                        <ul>
                            <li>
                        <strong>Industry: </strong> {{ sec_sector }}
                            </li>
                            <li>
                        <strong>Country: </strong>{{ sec_country }}
                            </li>
                            <li>
                        <strong>Employees:</strong> {{ sec_employees }}
                            </li>
                            <li>
                        <strong>Website: </strong> {{ sec_website }}
                            </li>
                            <li>
                        <strong>Phone: </strong> {{ sec_phone }}
                            </li>
                        </ul>
                </div>
            </li>
        </ul>
        {% autoescape off %}
        <div class="row pt-2">
            <div class="col-lg-6 col-xl-6">
        <h5 class="pb-4 pt-2 text-center">Stock Price History</h5>
        {{ sec_graph }}
            </div>
            <div class="col-lg-6 col-xl-6">
        <h5 class="pb-4 pt-2 text-center">Dividend Yield</h5>
        {{ sec_divs }}
            </div>
        </div>
        {% endautoescape %}

    <div class="row">
      <div class="col-md-6 pt-4 mt-4">
          <div class="content-section">
                <h2 class="text-center"><a href="#">Financials</a></h2>
              <p class="pt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias assumenda blanditiis consequuntur dolorem, ex exercitationem facilis fuga, impedit ipsa nam necessitatibus officiis quas quia quod repudiandae unde ut vel veritatis!</p>
            </div>
          <div class="content-section">
                <h2 class="text-center"><a class="" class='corp-act-link' href="{% url 'blog-corpact' %}">Market Segment</a></h2>
              <p class="pt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias assumenda blanditiis consequuntur dolorem, ex exercitationem facilis fuga, impedit ipsa nam necessitatibus officiis quas quia quod repudiandae unde ut vel veritatis!</p>
            </div>
          </div>
        <div class="col-md-6 pt-4 mt-4">
            <div class="content-section">
            <h2 class="text-center"><a class="" class='corp-act-link' href="{% url 'blog-corpact' %}">Corporate Actions</a></h2>
              <p class="pt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias assumenda blanditiis consequuntur dolorem, ex exercitationem facilis fuga, impedit ipsa nam necessitatibus officiis quas quia quod repudiandae unde ut vel veritatis!</p>
              <p class="pt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias assumenda blanditiis consequuntur dolorem, ex exercitationem facilis fuga, impedit ipsa nam necessitatibus officiis quas quia quod repudiandae unde ut vel veritatis!</p>
            </div>
          </div>


    {% endif %}

        <div class="col-lg-12 col-sm-12 w-100 text-center justify-content-center sticky-bottom">
          <div class="content-section mt-4">
            <form action="." method="POST" class="text-center">{% csrf_token %}
                  <div class="form-group">
                      {{ form.as_p }}
                  </div>

                 <div class="form-group">
                    <input type="submit" class="form-control btn-outline-secondary" id="formGroupExampleInput">
                </div>
            </form>
          </div>
        </div>

    </div>

{% endblock content %}
